@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Hanken Grotesk';
  
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  box-sizing: border-box;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(0, 0%, 100%);
    
}


.mainBox{

  width: 550px;
  border-radius: 20px;
  height: 380px;
  box-shadow: hsla(252, 100%, 67%, 0.3) 0px 19px 38px, hsla(252, 100%, 67%, 0.3)0px 15px 12px;;
  
}
.mainBox .box{
  float: left;
  width: 50%;
  height: inherit;
  border-radius: 20px;
align-content: center;
}

/* .mainBox p{
  text-align: center;
  
} */

.mainBox .results{
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 15px 20px ;
}

.mainBox .results .grade{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  text-align: center;
  height: 130px;
  width: 130px;
  border-radius: 65px;
  align-content: center;
  flex-wrap: wrap;
  padding: 15px;
  
  
}

.mainBox .results .grade{
  align-content: center;
  flex-shrink: 1;
}
.mainBox .results .grade .value1{
  font-size: 50px;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}

.mainBox .gradeDes{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.mainBox .gradeDes p {
  text-align: center;
  margin: 0;
  padding: 5px 20px;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.mainBox .summary{
  padding: 15px 20px;

}
.mainBox .summary .resultsSummary {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 5px 10px;
  height: 40px;
  font-size: 15px;
  font-weight: 900;
  border-radius:5px ;
  margin-top: 15px;
}
.mainBox .summary .resultsSummary img{
  height: 23px;
}
.mainBox .summary .resultsSummary .left{
  display: flex;
}
.mainBox .summary .resultsSummary .left p{
 font-weight: 800;
 padding-left: 5px;
}
.mainBox .summary button{
  background:hsl(241, 81%, 54%);
  width: 100%;
  margin-top: 25px;
  height: 50px;
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
}
@media screen and (max-width: 650px) {
  .p-24{
    padding: 0;
  }
  .mainBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
  }
  .mainBox .results{
    
    border-radius: 0 0 30px 30px ;
  }
  .mainBox .results, .mainBox .summary {
    width: 100%;
  }
  .mainBox .summary{
    background: hsl(0, 0%, 100%);
    padding: 20px;
  }
}